@page "/smartdepo"
@using _10_SmartDepo

<h3>SmartDepo</h3>

<div>
	<label for="_numberOfTramsWithMission">Number of trams with mision:</label>
	<input type="number" id="numWithMission" @bind="_numberOfTramsWithMission" />
</div>
<div>
	<label for="_numberOfTramsWithoutMission">Number of trams without mision:</label>
	<input type="number" id="numWithoutMission" @bind="_numberOfTramsWithoutMission" />
</div>
<button @onclick="AddTrams">Add Tram</button>

@code {
	private int _numberOfTramsWithMission;
	private int _numberOfTramsWithoutMission;

	// [Inject]
	// private TramRail TramRail { get; set; }

	public void AddTrams(MouseEventArgs args)
	{
		_numberOfTramsWithMission = 0;
		// TramRail.InitializeTramRail(_numberOfTramsWithMission, _numberOfTramsWithoutMission);

	}
}
